@font-face {
	font-family: 'scrolltotop';
	src: url('../fonts/scrolltotop.eot?31322817');
	src: url('../fonts/scrolltotop.eot?31322817#iefix') format('embedded-opentype'), url('../fonts/scrolltotop.woff2?31322817') format('woff2'), url('../fonts/scrolltotop.woff?31322817') format('woff'), url('../fonts/scrolltotop.ttf?31322817') format('truetype'), url('../fonts/scrolltotop.svg?31322817#scrolltotop') format('svg');
	font-weight: normal;
	font-style: normal;
}

.arrow-style-icon,
.wrap.sarvarov-wrap h2.scrolltotop-title:before {
	font-family: "scrolltotop";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	font-size: 22px;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.arrow-style-icon.e800:before {
	content: '\e800';
}

.arrow-style-icon.e801:before {
	content: '\e801';
}

.arrow-style-icon.e802:before {
	content: '\e802';
}

.arrow-style-icon.f106:before {
	content: '\f106';
}

.arrow-style-icon.e804:before {
	content: '\e804';
}

.arrow-style-icon.e805:before {
	content: '\e805';
}

.arrow-style-icon.e806:before {
	content: '\e806';
}

.arrow-style-icon.e807:before {
	content: '\e807';
}

.arrow-style-icon.e808:before {
	content: '\e808';
}

.arrow-style-icon.e809:before {
	content: '\e809';
}

.arrow-style-icon.e80a:before {
	content: '\e80a';
}

.arrow-style-icon.e80b:before {
	content: '\e80b';
}

.arrow-style-icon.e80c:before {
	content: '\e80c';
}

.arrow-style-icon.e80d:before {
	content: '\e80d';
}

.arrow-style-icon.e80e:before {
	content: '\e80e';
}

.arrow-style-icon.f077:before {
	content: '\f077';
}

.arrow-style-icon.f078:before {
	content: '\f078';
}

.arrow-style-icon.f0aa:before {
	content: '\f0aa';
}

.arrow-style-icon.f0ab:before {
	content: '\f0ab';
}

.arrow-style-icon.f148:before {
	content: '\f148';
}

.arrow-style-icon.f149:before {
	content: '\f149';
}

.arrow-style-icon.f102:before {
	content: '\f102';
}

.arrow-style-icon.e803:before {
	content: '\e803';
}

.arrow-style-icon.e804:before {
	content: '\e804';
}

.arrow-icon-select label,
.arrow-style-icon {
	vertical-align: middle;
}

/* admin settings */
.wrap.sarvarov-wrap {
	max-width: 1400px;
}

.wrap.sarvarov-wrap .plugin-settings {
	position: relative;
	display: flex;
	flex-direction: column;
    margin-top: 20px;
}

.wrap.sarvarov-wrap > h2 {
    font-size: 30px;
	margin-top: 20px;
	padding: 0;
	text-align: center;
}

.wrap.sarvarov-wrap .plugin-settings > form h2:first-of-type {
    margin-top: 0;
}

.wrap.sarvarov-wrap h2.scrolltotop-title:before {
	content: "\f0aa";
	padding-right: 5px;
	font-size: 24px;
}

.wrap.sarvarov-wrap .scrolltotop-version {
	opacity: .3;
    position: relative;
    top: -12px;
    font-size: 13px;
}

.wrap.sarvarov-wrap .plugin-settings > form {
	flex: 1000px 1 1;
}

.wrap.sarvarov-wrap .plugin-settings > form, 
.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div {
	background: #fff;
    padding: 40px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.wrap.sarvarov-wrap .scrolltotop-settings form > *, 
.wrap.sarvarov-wrap .scrolltotop-settings .form-table td, 
.wrap.sarvarov-wrap .scrolltotop-settings .form-table th {
	padding-left: 25px;
	padding-right: 25px;
}

.wrap.sarvarov-wrap .scrolltotop-settings .form-table tr:nth-child(odd) {
	background: #fbfbfb;
}

.wrap.sarvarov-wrap .form-table {
	border-bottom: 1px dashed #f1f1f1;
}

.wrap.sarvarov-wrap .stt_margin_top_15px {
	display: block;
	margin-top: 15px;
}

.wrap.sarvarov-wrap .stt-new {
	position: relative;
	left: -2px;
	top: -8px;
	font-size: 10px;
	color: red;
}

.wrap.sarvarov-wrap .stt-warning {
	color: red;
}

.wrap.sarvarov-wrap .description {
	font-size: 12px !important;
}

.wrap.sarvarov-wrap .notice {
    margin-top: 20px;
}

.wrap.sarvarov-wrap p.submit {
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/**
 * Sidebar.
 */
.wrap.sarvarov-wrap .plugin-sidebar {
	display: none;
	width: 400px;
	position: relative;
    padding-left: 20px;
    flex: 400px 0 0;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div.twitter-widget {
	padding: 20px 30px;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div {
	margin-bottom: 30px;
	text-align: center;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div .button {
	margin-top: 25px;
    white-space: normal;
    height: auto;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div:last-of-type {
	margin-bottom: 0;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div .widget-header {
	margin-bottom: 20px; 
	font-size: 1.5em; 
	font-weight: 300;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div.more-plugins a {
	display: block;
	padding: 20px;
    font-size: 18px;
    text-decoration: none;
	box-shadow: none;
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div.more-plugins a:hover {
	background: rgba(0, 123, 255, 0.1);
}

.wrap.sarvarov-wrap .plugin-sidebar .sidebar-inner > div.more-plugins a > span {
	display: block;
    color: #808080;
    font-weight: 300;
    text-decoration: none;
    font-size: .75em;
    margin-top: 5px;
}

@media (min-width: 1400px) {
	.wrap.sarvarov-wrap .plugin-sidebar {
		display: block;
	}
	
	.wrap.sarvarov-wrap .plugin-settings {
		display: flex;
		flex-direction: row;
	}
}

/**
 * Change colors.
 */
.wrap.sarvarov-wrap input[type=checkbox]:focus, 
.wrap.sarvarov-wrap input[type=color]:focus, 
.wrap.sarvarov-wrap input[type=date]:focus, 
.wrap.sarvarov-wrap input[type=datetime-local]:focus, 
.wrap.sarvarov-wrap input[type=datetime]:focus, 
.wrap.sarvarov-wrap input[type=email]:focus, 
.wrap.sarvarov-wrap input[type=month]:focus, 
.wrap.sarvarov-wrap input[type=number]:focus, 
.wrap.sarvarov-wrap input[type=password]:focus, 
.wrap.sarvarov-wrap input[type=radio]:focus, 
.wrap.sarvarov-wrap input[type=search]:focus, 
.wrap.sarvarov-wrap input[type=tel]:focus, 
.wrap.sarvarov-wrap input[type=text]:focus, 
.wrap.sarvarov-wrap input[type=time]:focus, 
.wrap.sarvarov-wrap input[type=url]:focus, 
.wrap.sarvarov-wrap input[type=week]:focus, 
.wrap.sarvarov-wrap select:focus, 
.wrap.sarvarov-wrap textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 2px #007bff;
}

.wrap.sarvarov-wrap a {
	color: #007bff;
}

.wrap.sarvarov-wrap a:hover {
	color: #0069d9;
}

.wrap.sarvarov-wrap input[type=checkbox]:checked:before {
    color: #007bff;
}

.wrap.sarvarov-wrap input[type=radio]:checked:before {
    background-color: #007bff;
}

.wrap.sarvarov-wrap .button-primary {
    background: #007bff;
    box-shadow: 0 1px 0 #007bff;
    text-shadow: 0 -1px 1px #007bff, 1px 0 1px #007bff, 0 1px 1px #007bff, -1px 0 1px #007bff;
    color: #fff !important;
}

/**
 * Loader.
 */
.wrap.sarvarov-wrap .loader {
	position: absolute;
	display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(255,255,255,.9);
	z-index: 100;
	transition: visibility 300ms ease, opacity 300ms ease;
	visibility: visible;
	opacity: 1;
}

.wrap.sarvarov-wrap .loader.loader-inactive {
	visibility: hidden !important;
	opacity: 0 !important;
}

.wrap.sarvarov-wrap .loader .loader-activity {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: auto;
	top: 12%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: #007bff;
	border-radius: 100%;
	transition-timing-function: cubic-bezier(.86,0,.07,1);
	-webkit-animation: pulse-load 1.2s infinite ease-in-out;
	animation: pulse-load 1.2s infinite ease-in-out;
}

@keyframes pulse-load {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}